﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissable">
        <div class="container">
            By closing this message, you consent to our cookies on this device in accordance with our cookie policy unless you have disabled them. <a asp-controller="Home" asp-action="Privacy">Details</a>.
            <button data-cookie-string="@cookieString" type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
            }, false);
        })();
    </script>
}