@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class ="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <input type="submit" class="btn btn-outline-secondary" value="Logout"/>
            </li>
    </form>
}
else
{
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
}


