﻿@using RheoSolutionClient.ViewModels
@using RheoSolutionClient.Globals
@model MeasurementInputVM;

@{
    ViewData["Title"] = "Calculate";
}

<div class="container">
    <br/>
    <h3>Enter data from measurement</h3>
    <br/>

    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12">
            <form method="POST" asp-controller="Measurement" asp-action="Create" onsubmit = "return validateValues()">
                <div class="card">
                    <div class="card-header">
                        <h4>Text info</h4>
                    </div>
                    <!-- /.card-heading -->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="@Model.Measurement.Name" class="form-control"/>
                            <span asp-validation-for="@Model.Measurement.Name" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input asp-for="@Model.Measurement.Description" class="form-control"/>
                            <span asp-validation-for="@Model.Measurement.Description" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <h4>Fann parameters</h4>
                    </div>
                 <!-- /.card-heading -->
                    <div class="card-body">
                        <div class="row">
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <div class ="form-group">
                                    <label asp-for="@Model.Measurement.Bob"></label>
                                    <select  class="form-control" asp-for="@Model.Measurement.Bob" asp-items="@Html.GetEnumSelectList<BobsEnum>()"></select>
                                </div>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <div class ="form-group">
                                    <label asp-for="@Model.Measurement.Rotor"></label>
                                    <select  class="form-control" asp-for="@Model.Measurement.Rotor" asp-items="@Html.GetEnumSelectList<RotorsEnum>()"></select>
                                </div>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <div class ="form-group">
                                    <label asp-for="@Model.Measurement.Spring"></label>
                                    <select  class="form-control" asp-for="@Model.Measurement.Spring" asp-items="@Html.GetEnumSelectList<SpringsEnum>()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
                <br/>
                <div class="card">
                    <div class="card-header">
                        <h4>Measured angles</h4>
                    </div>
                 <!-- /.card-heading -->
                    <div class="card-body">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox"  id="checkAll" onclick="eventCheckBox()"> Check All
                            </label>
                        </div>
                        <div class="row">
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <table class="table  table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">Rate</th>
                                            <th class="text-center">Angle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @{int temp =0;}
                                            @for(int i = 0; i<4;i++)
                                            {
                                                <tr class="form-group">
                                                    <td><input type="checkbox" class="check"  asp-for="@Model.Selected[i]"  /></td>
                                                    <td>@ViewBag.rate[i]</td>
                                                    <td>
                                                        @{temp = ViewBag.rate[i];}
                                                        <input  value="@(i+1)" class= "form-control input-sm" asp-for="@Model.Measurement.SpeedAngle[temp]"/>
                                                    </td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <table class="table  table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">Rate</th>
                                            <th class="text-center">Angle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @for(int i = 4; i<8;i++)
                                            {
                                                <tr class="form-group">
                                                    <td><input type="checkbox" class="check"  asp-for="@Model.Selected[i]"  /></td>
                                                    <td>@ViewBag.rate[i]</td>
                                                    <td>
                                                        @{temp = ViewBag.rate[i];}
                                                        <input  value="@(i+1)" class= "form-control input-sm" asp-for="@Model.Measurement.SpeedAngle[temp]"/>
                                                    </td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <table class="table  table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">Rate</th>
                                            <th class="text-center">Angle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @for(int i = 8; i<12;i++)
                                            {
                                                <tr class="form-group">
                                                    <td><input type="checkbox" class="check"  asp-for="@Model.Selected[i]"  /></td>
                                                    <td>@ViewBag.rate[i]</td>
                                                    <td>
                                                        @{temp = ViewBag.rate[i];}
                                                        <input  value="@(i+1)" class= "form-control input-sm" asp-for="@Model.Measurement.SpeedAngle[temp]"/>
                                                    </td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
                <br/>
                <input type="submit" name="Calculate" value="Calculate" class = "btn btn-outline-secondary btn-block"/>
            </form>
        </div>
    </div>
</div>


<script>
    function eventCheckBox() {
        let checkboxs = document.getElementsByClassName("check");
        let inputs = document.getElementsByClassName("form-control");
        let isChecked = document.getElementById("checkAll").checked;

        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(isChecked == true)
            {
                checkboxs[i].checked = true;
                //inputs[i+3].disabled = false;
            }
            else
            {
                checkboxs[i].checked = false;
                //inputs[i+3].disabled = true;
            }
        }
    }
    function validateValues()
    {
        let checkboxs = document.getElementsByClassName("check");
        let inputs = document.getElementsByClassName("form-control");

        let checkedCount = 0;
        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(checkboxs[i].checked)
            {
                checkedCount++;
            }
        }
        if(checkedCount<2)
        {
            document.getElementById("checkValues").innerText = "At least 2 values should be entered"
            return false;
        }


        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(checkboxs[i].checked)
            {
                if(inputs[i+3].value <= 0 || isNaN(inputs[i+3].value) )
                {
                    document.getElementById("checkValues").innerText = "Entered values have to be positive numbers (decimal separator is '.')"
                    return false;
                }
            }
        }


        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(checkboxs[i].checked)
            {
                inputs[i+3].value = inputs[i+3].value.replace('.',',');
            }
        }

        return true;
    }

</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}