﻿@using RheoSolutionClient.ApiModels
@using RheoSolutionClient.ViewModels
@model MeasurementViewModel


@{
    ViewData["Title"] = "Measurement";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<div class="container">

    <br/>
    <h3>Measurement details</h3>
    <br/>

    <div class ="row">
        <div class="col-lg-12 col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>@Model.Project.Name: @Model.Name</h4>
                </div>
                <!-- /.card-heading -->
                <div class="card-body">
                    @Model.Description
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Rheology results</h4>
                </div>
                 <!-- /.card-heading -->
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Rate</th>
                                <th class="text-center">Angle</th>
                                <th class="text-center">Shear Stress</th>
                                <th class="text-center">Shear Rate</th>
                                <th class="text-center">Apparent Viscosity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Data.Rheology.RotSpeed.Length; i++)
                            {
                                <tr>
                                    <td class="text-center">@(i+1)</td>
                                    <td class="text-center">@Model.Data.Rheology.RotSpeed[i]</td>
                                    <td class="text-center font-weight-bold">@Math.Round(Model.Data.Rheology.Angle[i],3)</td>
                                    <td class="text-center">@Math.Round(Model.Data.Rheology.ShearStress[i],3)</td>
                                    <td class="text-center">@Math.Round(Model.Data.Rheology.ShearRate[i],3)</td>
                                    <td class="text-center">@Math.Round(Model.Data.Rheology.ApparentViscosity[i],3)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- card body -->
            </div>
            <!-- card -->
            <br/>
            <div class= "row">
                <div class="col-lg-6 col-xl-6 col-md-6">
                     <div class="card">
                        <div class="card-header">
                            <h4>Shear Rate vs Shear Stress</h4>
                        </div>
                        <!-- /.card-heading -->
                        <div class="card-body">
                            <div id="shearstresschart" style="height: 250px;"></div>
                        </div>
                        <!-- card body -->
                    </div>
                    <!-- card -->
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Shear Rate vs Apparent Viscosity</h4>
                        </div>
                        <!-- /.card-heading -->
                        <div class="card-body">
                            <div id="viscositychart" style="height: 250px;"></div>
                        </div>
                        <!-- card body -->
                    </div>
                    <!-- card -->
                </div>
            </div>

            @foreach (var mod in Model.Data.Models)
            {
                <br/>
                <div class="card">
                    <div class="card-header">
                        <h4>Model: @mod.Name</h4>
                    </div>
                    <!-- /.card-heading -->
                    <div class="card-body">
                        <div class= "row">
                            <div class="col-lg-6 col-xl-6 col-md-6">
                                <table class="table table-hover table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Parameter</th>
                                            <th class="text-center">Value</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td class="text-center">R</td>
                                                <td class="text-center">@Math.Round(mod.R,3)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">F</td>
                                                <td class="text-center">@Math.Round(mod.F,3)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">U</td>
                                                <td class="text-center">@Math.Round(mod.U,3)</td>
                                            </tr>
                                            @foreach(var param in mod.SpecificParameters)
                                            {
                                                <tr>
                                                <td class="text-center">@param.Key</td>
                                                <td class="text-center">@Math.Round(param.Value,3)</td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6">
                                <div id="@mod.Name-chart"></div>
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
            }


        </div>
    </div>
</div>


<script>
    var x = @Html.Raw(Json.Serialize(Model.Data.Rheology.ShearRate));
    var y = @Html.Raw(Json.Serialize(Model.Data.Rheology.ShearStress));
    var z = @Html.Raw(Json.Serialize(Model.Data.Rheology.ApparentViscosity));
    var models = @Html.Raw(Json.Serialize(Model.Data.Models));

    //chart data
    var res1 = [];
    var res2 = [];
    var res3 = [];

    res1labels = ['Shear Rate', 'Measured Stress'];
    res2labels = ['Shear Rate', 'Apparent Viscosity'];

    for(var i=0;i<x.length;i++)
    {
        res1.push([ x[i], y[i] ]);
        res2.push([ x[i], z[i] ]);
    }

    res3labels = ['Shear Rate', 'Measured Stress', 'Model'];
    for(var m = 0; m < models.length; m++)
    {
        var temp = [];
        for(var i=0;i<x.length;i++)
        {
            temp.push([ x[i], y[i], models[m].shearStress[i] ]);
        }
        res3.push(temp);
    }


    //google charts
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawCurveTypes);

    function drawCurveTypes()
    {
        var generalOptions = {
            vAxis: {
            //viewWindowMode: 'maximized'
            },
            hAxis: {
                viewWindowMode: 'maximized'
            },
            series: {
            1: {curveType: 'function'}
            },
            legend: { position: 'top',
            alignment: 'end' },
            width: '100%',
            height: '100%',
            lineWidth: 3,
            curveType: 'function',
            chartArea: {width: '82 q%', height: '75%'}
        };

        drawSpecifiedChart(res1, res1labels, generalOptions,'shearstresschart', 'Shear Rate','[1/s]', 'Shear Stress','[Pa]' )
        drawSpecifiedChart(res2, res2labels, generalOptions,'viscositychart', 'Shear Rate','[1/s]', 'Apparent Viscosity','[Pa*s]' )
        for(var i = 0; i < res3.length; i++)
        {
            drawSpecifiedChart(res3[i], res3labels, generalOptions, models[i].name.concat('-chart'),'Shear Rate','[1/s]', 'Shear Stress','[Pa]' )
        }
    }

    function drawSpecifiedChart(dat, labels, options, id,xLabel, xUnit, yLabel, yUnit)
    {
        var data = new google.visualization.DataTable();
        for (var i = 0; i<labels.length;i++)
        {
            data.addColumn('number', labels[i]);
        }
        data.addRows(dat);

        options.hAxis.title = xLabel.concat(' ', xUnit);
        options.vAxis.title = yLabel.concat(' ', yUnit);

        var chart = new google.visualization.ScatterChart(document.getElementById(id));
        chart.draw(data, options);
    }

    $(window).resize(function(){
        google.charts.setOnLoadCallback(drawCurveTypes);
    });









</script>




