﻿@using RheoSolutionClient.ApiModels
@using RheoSolutionClient.Globals
@model RequestModel;

@{
    ViewData["Title"] = "Calculate";
}

<div class="container">
    <br/>
    <h3>Enter data from measurement</h3>
    <br/>

    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12">
            <form method="POST" asp-controller="Home" asp-action="Calculate" onsubmit = "return validateValues()" >
                <div class="card">
                    <div class="card-header">
                        <h4>Fann parameters</h4>
                    </div>
                 <!-- /.card-heading -->
                    <div class="card-body">
                        <div class="row">
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <div class ="form-group">
                                    <label asp-for="@Model.Bob"></label>
                                    <select  class="form-control" asp-for="@Model.Bob" asp-items="@Html.GetEnumSelectList<BobsEnum>()"></select>
                                </div>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <div class ="form-group">
                                    <label asp-for="@Model.Rotor"></label>
                                    <select  class="form-control" asp-for="@Model.Rotor" asp-items="@Html.GetEnumSelectList<RotorsEnum>()"></select>
                                </div>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <div class ="form-group">
                                    <label asp-for="@Model.Spring"></label>
                                    <select  class="form-control" asp-for="@Model.Spring" asp-items="@Html.GetEnumSelectList<SpringsEnum>()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
                <br/>
                <div class="card">
                    <div class="card-header">
                        <h4>Measured angles</h4>
                    </div>
                 <!-- /.card-heading -->
                    <div class="card-body">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox"  id="checkAll" onclick="eventCheckBox()"> Check All <br/>
                            <span id="checkValues" class="text-danger"></span>
                            </label>
                        </div>
                        <div class="row">
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <table class="table  table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">Rate</th>
                                            <th class="text-center">Angle</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select1" asp-for="@Model.Selected[0]"  /></td>
                                            <td>1</td>
                                            <td>
                                                <input id="input1"  value="1" class= "form-control input-sm" asp-is-invariant="true" asp-for="@Model.Angle[0]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select2"  asp-for="@Model.Selected[1]"  /></td>
                                            <td>2</td>
                                            <td>
                                                <input id="input2" value="2" class= "form-control input-sm" asp-for="@Model.Angle[1]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select3" asp-for="@Model.Selected[2]"   /></td>
                                            <td>3</td>
                                            <td>
                                                <input id="input3" value="3" class= "form-control input-sm" asp-for="@Model.Angle[2]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select4"  asp-for="@Model.Selected[3]"  /></td>
                                            <td>6</td>
                                            <td>
                                                <input id="input4" value="4" class= "form-control input-sm" asp-for="@Model.Angle[3]"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <table class="table  table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">Rate</th>
                                            <th class="text-center">Angle</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select5" asp-for="@Model.Selected[4]"  /></td>
                                            <td>10</td>
                                            <td>
                                                <input id="input5" value="5" class= "form-control input-sm" asp-for="@Model.Angle[4]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select6"  asp-for="@Model.Selected[5]"   /></td>
                                            <td>20</td>
                                            <td>
                                                <input id="input6" value="6" class= "form-control input-sm" asp-for="@Model.Angle[5]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select7" asp-for="@Model.Selected[6]" ></td>
                                            <td>30</td>
                                            <td>
                                                <input id="input7" value="7" class= "form-control input-sm" asp-for="@Model.Angle[6]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox"  class="check" id="select8" asp-for="@Model.Selected[7]" /></td>
                                            <td>60</td>
                                            <td>
                                                <input id="input8" value="8" class= "form-control input-sm" asp-for="@Model.Angle[7]"/>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class ="col-lg-4 col-xl-4 col-md-4">
                                <table class="table  table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">Rate</th>
                                            <th class="text-center">Angle</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select9" asp-for="@Model.Selected[8]"  /></td>
                                            <td>100</td>
                                            <td>
                                                <input id="input9" value="9" class= "form-control input-sm" asp-for="@Model.Angle[8]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox"  class="check"id="select10"  asp-for="@Model.Selected[9]"   /></td>
                                            <td>200</td>
                                            <td>
                                                <input id="input10" value="10" class= "form-control input-sm" asp-for="@Model.Angle[9]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select11"  asp-for="@Model.Selected[10]"   /></td>
                                            <td>300</td>
                                            <td>
                                                <input id="input11" value="11" class= "form-control input-sm" asp-for="@Model.Angle[10]"/>
                                            </td>
                                        </tr>
                                        <tr class="form-group">
                                            <td><input type="checkbox" class="check" id="select12" asp-for="@Model.Selected[11]"   /></td>
                                            <td>600</td>
                                            <td>
                                                <input id="input12" value="12" class= "form-control input-sm" asp-for="@Model.Angle[11]"/>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
                <br/>
                <input type="submit" name="Calculate" value="Calculate" class = "btn btn-outline-secondary btn-block"/>
            </form>
        </div>
    </div>
</div>


<script>
    function eventCheckBox() {
        let checkboxs = document.getElementsByClassName("check");
        let inputs = document.getElementsByClassName("form-control");
        let isChecked = document.getElementById("checkAll").checked;
        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(isChecked == true)
            {
                checkboxs[i].checked = true;

            }
            else
            {
                checkboxs[i].checked = false;
                //inputs[i+3].disabled = true;
            }
        }
    }

    function validateValues()
    {
        let checkboxs = document.getElementsByClassName("check");
        let inputs = document.getElementsByClassName("form-control");

        let checkedCount = 0;
        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(checkboxs[i].checked)
            {
                checkedCount++;
            }
        }
        if(checkedCount<2)
        {
            document.getElementById("checkValues").innerText = "At least 2 values should be entered"
            return false;
        }


        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(checkboxs[i].checked)
            {
                if(inputs[i+5].value <= 0 || isNaN(inputs[i+5].value) )
                {
                    document.getElementById("checkValues").innerText = "Entered values have to be positive numbers (decimal separator is '.')"
                    return false;
                }
            }
        }


        for(let i = 0; i < checkboxs.length ; i++)
        {
            if(checkboxs[i].checked)
            {
                inputs[i+5].value = inputs[i+5].value.replace('.',',');
            }
        }

        return true;
    }



</script>


