﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Adam Mickiewicz Avenue 30<br />
    Krakow, 30-059<br />
    <abbr title="Phone">P:</abbr>
    517123123
</address>

<address>
    <strong>Support:</strong> <a href="mailto:orlowiczg@agh.edu.pl">orlowiczg@agh.edu.pl</a><br />
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.6673429178577!2d19.920392595403467!3d50.06586206446892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba0ab5d438b%3A0xd0e9a2ee0c326370!2sWydzia%C5%82+Geologii%2C+Geofizyki+i+Ochrony+%C5%9Arodowiska%2C+AGH%2C+A0!5e0!3m2!1spl!2spl!4v1546036987775" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
