﻿@{
    ViewData["Title"] = "Home Page";
}
  <div class ="text-center">
    <img  src="~/images/fulltext.png" style="width:80%" alt="RheologySim">
  </div>
  <div class ="text-center">
    <br/>
    <a  class="btn btn-outline-secondary btn-lg" asp-controller="Home" asp-action="Calculate">Start calculations!</a>
    <br/>
  </div>

  <br/>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget aliquam metus. Phasellus nulla nisi, laoreet eget dictum ac, suscipit nec elit. In interdum nulla et neque mattis, sed tristique elit suscipit. Maecenas vitae ultricies ante. Integer laoreet ex ut ante luctus porta. Nunc sed ante enim. Nulla quam ex, volutpat dictum feugiat vel, commodo varius lorem. Duis id risus non augue vehicula dapibus. Sed tincidunt vehicula est quis gravida. Etiam ut odio ac magna iaculis fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  </p>
  <h2>Functions</h2>
  <p>
  Pellentesque a risus felis. Proin non ultrices neque, id vestibulum arcu. Donec ac feugiat libero. Aenean turpis nisi, dignissim sit amet rhoncus id, ultricies efficitur lorem. Aenean viverra interdum enim, at fermentum arcu laoreet vel. Donec euismod ullamcorper consectetur. In suscipit in elit ac convallis. Nunc a consequat dui. Fusce sodales dapibus dolor sit amet euismod. Mauris iaculis consequat odio quis iaculis. Morbi imperdiet lacus ac eros mollis, vel rutrum quam aliquam. Maecenas fermentum gravida risus, at hendrerit orci condimentum ac.
  </p>
  <h2>Architecture</h2>
  <p>
    Pellentesque laoreet urna at ante varius, eu pretium orci interdum. Donec vehicula urna pretium, interdum diam quis, sollicitudin ante. Praesent semper porta justo, eu vehicula massa mollis et. Fusce ipsum velit, congue vel pulvinar et, pretium feugiat risus. Phasellus risus neque, interdum non tristique in, fermentum vitae ligula. Integer urna purus, dictum vel rhoncus aliquet, luctus in eros. Sed consectetur consequat odio, ac blandit velit elementum eget. Nunc in tincidunt augue. Donec ipsum sapien, euismod sed elit ac, fermentum vehicula diam. Morbi consequat, sem ac auctor pretium, nunc tortor mattis lectus, ac commodo turpis quam in nibh.
  </p>
  <h2>License</h2>
  <p>
    Maecenas id turpis rhoncus, aliquet turpis varius, congue dui. Cras ipsum sem, iaculis nec lacus eu, molestie gravida ligula. Morbi commodo ante velit, nec iaculis sem tempus quis. Cras ornare malesuada convallis. Aliquam posuere fermentum nisi sit amet suscipit. Aliquam erat volutpat. In id tristique nulla. Ut malesuada tellus quis nulla placerat, a dictum nisl aliquet. Aenean egestas auctor sodales. Maecenas vestibulum nunc et metus suscipit, ac tincidunt ex consequat. Fusce suscipit orci nunc, eu sollicitudin quam egestas vitae.
  </p>

