﻿@using RheoSolutionClient.ViewModels
@model ProjectViewModel

@{
    ViewData["Title"] = "Project";
}

<div class="container">
    <h3>Create new project</h3>
    <br/>

    <form method="post" asp-controller="Project" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>

       <div class="form-group">
           <label>Name</label>
           <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
       </div>
       <div class="form-group">
           <label>Description</label>
           <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>

       </div>


       <input type="submit" class = "btn btn-outline-secondary" name="save" value="Save"/>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}