﻿@using RheoSolutionClient.ViewModels
@model ProjectViewModel

@{
    ViewData["Title"] = "Project";
}

<div class="container">
    <br/>
    <h3>Project: @Model.Name</h3>
    <br/>
    <div class="card">
        <div class="card-header">
            <h4>List of measurements</h4>
        </div>
        <!-- /.card-heading -->
        <div class="card-body table-responsive">
            <table class ="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mes in Model.Measurements)
                    {
                        <tr>
                            <td>@mes.Id</td>
                            <td><a class= "btn btn-outline-secondary btn-block" asp-controller="Measurement" asp-action="Index" asp-route-id="@mes.Id">@mes.Name</a></td>
                            <td>@mes.Description</td>
                            <td>@mes.Created.ToShortDateString()</td>
                            <td>@mes.Modified.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="Measurement" asp-action="Create" class="btn btn-outline-secondary" asp-route-id="@Model.Id">New measurement</a>
        </div>
        <!-- card body -->
    </div>
    <!-- card -->
</div>

