﻿@using RheoSolutionClient.Models
@model List<Project>

@{
    ViewData["Title"] = "Project";
}

<div class="container">
    <h3>Projects</h2>
    <br/>

    <div class="card">
        <div class="card-header">
            <h4>List of projects</h4>
        </div>
        <!-- /.card-heading -->
        <div class="card-body table-responsive">
            <table class ="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var project in Model)
                    {
                        <tr>
                            <td>@project.Id</td>
                            <td><a class= "btn btn-outline-secondary btn-block" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id">@project.Name</a></td>
                            <td>@project.Description</td>
                            <td>@project.Created.ToShortDateString()</td>
                            <td>@project.Modified.ToShortDateString()</td>
                            <td><a class= "btn btn-outline-secondary" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Edit</a></td>
                            <td><a class= "btn btn-outline-secondary" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" onclick="return confirm('Are you sure?')">Delete</a></td>

                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="Project" asp-action="Create" class="btn btn-outline-secondary">Create new project</a>
        </div>
        <!-- card body -->
    </div>
    <!-- card -->
</div>

